//colors

$black: #000000;
$black-opopacity-01: rgba(29, 22, 19, 1);
$wight: #ffffff;
$grey: #9b9997;
$greylight: #f6f5f4;
$brown: #a87b62;
$brownlight: #f0eae4;

//fonts

$font-family--Montserrat: "Montserrat", sans-serif;

//rtina

$retina-dpi-2: 2dppx;
