//viewports
$desktop-width: 1200px;

//colors

$orange: #ff5900;
$orangedark: #ca4600;

$typography: #212121;
$gray: #333333;
$graylight: #f4f4f4;
$wight: #ffffff;
$wightopasity: rgba(255, 255, 255, 0.2);

//fonts

$font-family--Montserrat: "Montserrat", sans-serif;

//rtina

$retina-dpi-2: 2dppx;
